.container {
  width: 24rem;
  margin-left: 1em;
  margin-right: 1em;
}

img {
  height: 26em;
  width: 100%;
  object-fit: Fill;
  margin-top: 10px;
}

.genres {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}

.icons {
  justify-content: center;
}

.button {
  margin-right: 5px;
  margin-left: 5px;
}

.image {
  position: relative;
  text-align: center;
  color: white;
}

.rating {
  display: flex;
  position: absolute;
  bottom: 8px;
  right: 16px;
  align-items: center;
}

.star {
  color: yellow;
  padding-left: 2px;
}

.ratingText {
  font-size: 16px;
}
