.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  width: 30rem;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.form .title {
  text-align: center;
}

.form img {
  height: 17rem;
  width: 100%;
  border-radius: 15px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  font-size: 35px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 8rem;
}

.loginButton p {
  text-decoration: underline;
  color: #96aef0;
  text-align: center;
  margin-top: 15px;
}

.title {
  margin: 0;
}
