<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ showItem.title }} - Description</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ showItem.description }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<button class="full-text-button" (click)="openVerticallyCentered(content)">
  more
</button>
