.container {
  max-height: 35rem;
  height: auto;
  width: 35rem;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  padding-left: 2px;
  color: yellow;
}

a {
  text-decoration: none;
  color: white;
}

.authorDate {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button {
  display: flex;
  justify-content: center;
}

.comments {
  max-height: 16rem;
  max-width: 35rem;
}

.smallTitle {
  font-size: 23;
  color: white;
  padding-bottom: 5px;
}
.stars {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
